@import url('https://rsms.me/inter/inter.css');

html {
    font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
    html {
        font-family: 'Inter var', sans-serif;
    }
}


.marco-principal {
    background: #F3F5FC;
    width: 1440px;
    height: 1024px;
}

.vector {
    position: absolute;
    left: 84px;
    right: 1325px;
    top: 40px;
    bottom: 936px;
}


#texto-encriptar {
    position: absolute;
    width: 577px;
    height: 48px;
    top: 168px;
    left: 240px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    border: none;

    background: #F3F5FC;

}

::placeholder {
    color: rgba(10, 56, 113, 1);
    opacity: 1;
}

/* cuadro blanco */
.seccion-lateral {
    position: absolute;
    width: 400px;
    height: 944px;
    left: 1000px;
    top: 40px;
    background: #FFFFFF;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}

#imagen-lateral {
    position: relative;
    width: 80%;
    top: 243px;
    right: 32px;
    left: 32px;
    bottom: 397px;
}

.texto-lateral {
    position: absolute;
    text-align: center;
    top: 579px;
    bottom: 307px;
    right: 32px;
    left: 32px;
}

.mensaje-noencontrado {
    width: 336px;
    height: 58px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    color: #343A40;
}

.mensaje-instruccion {
    width: 336px;
    height: 48px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #495057;
    padding: 10px;
    line-height: 24px;
}

#textarea-desencriptado {
    position: relative;
    width: 330px;
    height: 600px;
    top: 40px;
    left: 5px;
    border-radius: 24px;
    padding: 30px;
    border: none;
    /*texto*/
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
}

.caja-botones {
    position: absolute;
    display: inline-block;
    width: 680px;
    height: 67px;
    top: 885px;
    bottom: 72px;
    left: 240px;

}

.texto-indicacion {
    /* Solo letras minúsculas y sin acentos */
    width: 205px;
    height: 18px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #495057;
    opacity: 0.8;
    flex: none;
    order: 1;
    flex-grow: 0;
    background-image: url("Imagenes/Vector-Exclamacion.png");
    background-repeat: no-repeat;
    padding-bottom: 10px;
}

.boton-encriptar {
    position: relative;
    width: 328px;
    height: 67px;
    padding: 24px;
    right: 24px;
    box-sizing: border-box;
    background: #0A3871;
    border-radius: 24px;
    font-family: 'Inter';
    font-size: 16px;
    color: rgba(255, 255, 255, 1);

}

.boton-desencriptar {
    position: relative;
    width: 328px;
    height: 67px;
    padding: 24px;
    box-sizing: border-box;
    background: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;
    font-family: 'Inter';
    font-size: 16px;

}

#btn-copiar {
    position: absolute;
    left: 35px;
    top: 860px;
}

.boton-copiar {
    box-sizing: border-box;
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;
    width: 336px;
    height: 67px;
    font-family: 'Inter';
    text-align: center;
    font-size: 16px;
    /* Dark blue/dark-blue-300 */
    border: 1px solid #0A3871;
    border-radius: 24px;
    padding: 24px;
}